{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    body {
        height: 5000px;
    }
</style>
<link rel="stylesheet" href="{% static 'index/_index.css' %}">
{% endblock css %}
{% block body %}

<div class="container-fluid m-0 p-0 navbox">
    {% include '_navbar.html' %}
    <div class="container-fluid mt-5">


        <div class="row mx-0 px-0">
            <div class="col-8 offset-2 p-0">
                <h1 class="oneliner m-0 px-5 py-2">
                    품격있는 당신에게 어울리는
                </h1>
            </div>
        </div>


        <div class="row mx-0 px-0 mt-3">
            <div class="col-3 offset-2 p-0">
                <h1 class="oneliner m-0 px-5 py-2">
                    단 한 곳.
                </h1>
            </div>
        </div>
    </div>
</div>
{% include '_searchRes.html' %}
<div style="height:750px" class="container text-center border">
    <h1>NEXT SECTION</h1>
</div>
  <script src="{% static 'js/_cookieEmail.js' %}"></script>

{% include '_footer.html' %}
{% endblock %}