<section>
<div style="height:407px" class="container-fluid px-5">
<ul class="nav nav-pills nav-justified m-5">
  <li class="nav-item">
    <a class="nav-link active" href="#">나를 위한 추천 제품</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">이달의 인기 제품</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">가장 많이 검색된 제품</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">새로 나온 제품</a>
  </li>
</ul>
<div class="container-fluid">
<h1 style="font-size:135px" class="text-center text-muted">CAROUSEL PLACE</h1>
</div>
</section>