<section>
<div style="height:401px;padding:65px 0 30px" class="container-fluid">
<h2 class="text-center mb-5">
IKEA 주요 정보
</h2>
<div style="margin:0 80px";class="container-fluid">
<!-- ROW 1 -->
<div class="row">
    <div class="col-3">
    <div class="round-container" style="width:80px; height:80px;background-image:url('https://s3.newideas.kr/api/pc/ko/Main_Service/how2shop_pc.jpg');"></div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>
<!-- ROW 2 -->
<div class="row">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>
</div>
</div>
</section>