<section>
    <div style="height:50px" class="container-fluid bg-primary px-5">
        <!-- category -->
        <div class="row m-0 p-0">
            <table style="font-size:0.70rem;" class="mt-0 pt-0 col-8 table text-white text-center mx-auto">
                <tr>
                    <td><a class="text-white" href="#">
                            <div>모든 제품</div>
                        </a></td>
                    <td><a class="text-white" href="#">디지털쇼룸</a></td>
                    <td class="text-warning">NEW</td>
                    <td><a class="text-white" href="#">소파.의자.테이블</a></td>
                    <td>침대.매트리스</td>
                    <td>요리.식기.주방가구</td>
                    <td>어린이 IKEA</td>
                    <td>수납</td>
                    <td>조명</td>
                    <td>텍스타일.러그.커튼</td>
                    <td>홈데코.반려동물</td>
                </tr>
            </table>
            <div style="font-size:0.70rem;height:50px;" class=" p-0 pt-3 mr-5 col-1 offset-1 bg-warning text-primary text-center">
            <p>
            <i class="fa fa-lightbulb-o"></i>홈퍼니싱 아이디어</p>
            </div>
        </div>
    </div>
</section>