<nav style="height:45px;width:100vw;font-size:13px;"
    class=" p-3 m-0 navbar navbar-expand bg-white border-bottom d-flex justify-content-lg-between">
    <div class="container ml-1 px-3">
    <table class="table text-center text-muted align-content-center p-1 m-1">
            <tr>
                <td><a class="text-muted" href="#">고객지원</a></td>
                <td>|</td>
                <td><a class="text-muted" href="#">매장안내</a></td>
                <td>|</td>
                <td><a class="text-primary font-weight-bolder" href="#">IKEA Family</a></td>
                <td>|</td>
                <td><a class="text-info" href="#">채팅상담</a></td>
            </tr>
            </table>
    </div>
    <div class="container-fluid text-muted justify-content-sm-center">
        안녕하세요. IKEA Korea 입니다.
    </div>
    <div class="container m-0 pr-3">
        <table class="table text-center text-muted align-content-center p-3 m-3">
            <tr>
                <td><a class="text-muted" href="#">로그인</a></td>
                <td>|</td>
                <td><a class="text-muted" href="#">마이페이지</a></td>
                <td>|</td>
                <td><a class="text-muted" href="#">English</a></td>
            </tr>
        </table>
    </div>
</nav>