<section>
    <div class="container-fluid mt-3">
        <div style="height:75px;" class="row px-3">
            <!-- Search -->
            <div class="col-4 mt-2 pl-0">
                <form class="form-row" id="search-form">
                    <input class="col-10 px-2 border-dark border-top-0 form-control-plaintext border-bottom"
                        type="search" aria-label="Search">
                    <a href="#" onclick="document.getElementById('search-form').submit()">
                        <h4><i class="text-muted fas fa-search"></i></h4>
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>