<section class="search-sec">
    <div class="container">
        <form action="#" method="post">
            <div class="row p-0 m-0">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <p class="text-white m-0 p-0">체크인</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <p class="text-white m-0 p-0">체크아웃</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <p class="text-white m-0 p-0">숙박 예정 인원</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <p class="text-white m-0 p-0"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="date" min="2019-11-01" class="form-control search-slt"
                                placeholder="2019-11-01">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="date" class="form-control search-slt">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="number" min="0" max='9' placeholder="2" class="search-slt">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-outline-primary text-white wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>