<section>
    <div style="width:100vw;height:1142px;background:#F1F5F8" class="container-fluid mx-0 pt-4 text-center px-0">
        <h1 class="mt-5 mb-3">오늘의 공간</h1>
        <h4>당신의 공간을 아름답게 꾸미기 위한 영감을 드립니다.</h4>
        <div class="text-left container-fluid p-0 m-0">
            <!-- ROW 1 -->
            <div class="row ml-4 px-5">
                <h1 style="font-size:60px;color:lightgray">[</h1>
                <!-- 제목 -->
                <h4 class="my-auto mx-2"><b>다이닝</b></h4>
                <h1 style="font-size:60px;color:lightgray">]</h1>
                <!-- 문구 -->
                <h4 class="ml-4 my-auto text-weight-light">부담없이 꾸미는 풍성한 다이닝 룸</h4>
                <!-- 링크 -->
                <a class="ml-auto mt-auto" href="">더 많은 공간 보러가기<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
            <!-- ROW 2 -->
            <div class="row mt-5 justify-content-center">
            <img src="http://www.ikea.com/ms/media/rooms/20201/dining/20201_rmdi03a/seo_image/ikea-laneberg-karljan__20201_rmdi03a_01_PH163134.jpg" alt="">
            </div>
            <!-- ROW 3 -->
            <div class="row mt-5">
            <div class="col"><hr></div>
            <div class="col-auto">
            <a class="col-auto" href="">관련 제품 더 보기<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
            <div class="col"><hr></div>
            </div>
        </div>
    </div>
    </div>
</section>