<section>
    <div class="container-fluid mt-3">
        <div style="height:75px;" class="row px-3">

            <!-- Logo -->
            <div class="col-2 offset-1 pr-0">
                <img style="height:56px;" src="https://uiux.newideas.kr/images/ikea-logo.svg" alt="IKEA">
            </div>

            <!-- Search -->
            <div class="col-4 mt-2 pl-0">
                <form class="form-row" id="search-form">
                    <input class="col-10 px-2 border-dark border-top-0 form-control-plaintext border-bottom"
                        type="search" aria-label="Search">
                    <a href="#" onclick="document.getElementById('search-form').submit()">
                        <h4><i class="text-muted fas fa-search"></i></h4>
                    </a>
                </form>
            </div>

            <!-- Silgum -->
            <div class="col-3 mt-2">
                <div class="dropdown">
                    <button class="btn btn-block border dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        실시간 검색어
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Wish list -->
            <div class="col-1 mt-3 text-right">
            <a href="#" class="fa fa-heart-o fa-2x text-muted"></a>
            </div>
            <!-- Add to Cart -->
            <div class="col-1 mt-3 text-right">
            <a href="#" class="fa fa-shopping-cart fa-2x text-muted"></a>
            </div>

        </div>
    </div>
</section>