.navbox {
    background-image: url("palmhotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 78vh;
}
.oneliner {
    font-size: 4rem;
    color: #fafafa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: fit-content;
}
@media (max-width:1214px){
    .oneliner {
        font-size: 2.3rem;
        color: #fafafa;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.3);
        max-width: fit-content;
    
    }
}
@media (max-width:992px){
    .oneliner {
        font-size: 0rem;
        color: #fafafa;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: transparent;
        max-width: fit-content;
    }
    .navbox {
        background-color: darkseagreen;
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }
}
.search-sec {
    padding: 1rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
    text-align: center;
}

.wrn-btn {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

@media (min-width: 992px) {
    .search-sec {
        position: relative;
        top: -120px;
        background: rgba(35, 35, 35, 0.51);
    }
}

@media (max-width: 992px) {
    .search-sec {
        background: #55595c;
        top: -120px;
    }
}